.container{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.friendList{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.true {
  composes: status;
  background-color: green;
}
.false {
  composes: status;
  background-color: red;
}