.container{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.friendList{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.friendsItem{
display: flex;
align-items: center;
width: 300px;
padding: 15px;

box-shadow: 1px 4px 5px 2px #333f61;
border-radius: 10px;
}

.avatar{
    margin-right: 20px;
    width: 100px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.true {
  composes: status;
  background-color: green;
}
.false {
  composes: status;
  background-color: red;
}