.statistics{
    width: 100%;
    padding: 15px;
}

.title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.statsList{
    display: flex;
    justify-content: center;
}